

<div style="background-image:url('assets/back.jpg');height: 700px; opacity: 0.5px;" >
<nav class="navbar navbar-dark bg-primary" >
    <div class="container-fluid">
        <span class="navbar-text">
          WELCOME ADMIN
        </span>
        
        <button type="button" class="btn btn-warning" (click)="logout()">LOG-OUT</button>
      </div>

      
  </nav>

  <br>
  <br>
  <br>


  

<div class="container" style="background-color: #00cc66;">
  <br>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;;" >
    <div class="container-fluid">
        <span class="navbar-text" >
          
          
          <a [routerLink]="['/plantmain']"  >Manage Plants</a>
        </span>
      </div>
  </nav>
  <br>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;" >
    <div class="container-fluid">
        <span class="navbar-text">
          <a [routerLink]="['/seedMain']">Manage Seeds</a>
        </span>
      </div>
  </nav>
  <br>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;" >
    <div class="container-fluid">
        <span class="navbar-text">
          <a [routerLink]="['/plantermain']">Manage Planters</a>
        </span>
      </div>
  </nav>
  <br>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;" >
    <div class="container-fluid">
        <span class="navbar-text">
          <a [routerLink]="['/customermain']">Manage Customers</a>
        </span>
      </div>
  </nav>
  <br>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <span class="navbar-text">
          <a [routerLink]="['/ordermain']">Manage Orders</a>
        </span>
      </div>
  </nav>
  <br>
 
</div>
</div>

<router-outlet>

</router-outlet>
